.box-layout {
  background: url("/images/bg.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-layout__box {
  border-radius: 3px;
  padding: $l-size $m-size;
  text-align: center;
  width: 45rem;
}

.box-layout__title {
  margin: 0 0 $m-size 0;
  line-height: 1;
  color: black;
}
