.button {
  background: $light-blue;
  color: black;
  border: none;
  padding: $s-size;
  font-weight: 300;
  font-size: $font-size-large;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
}
.button--link {
  background: none;
  color: white;
  border: none;
  text-decoration: none;
}
.button--secondary {
  background: $seablue;
}
.button--remove {
  background: red;
}
