.header {
  background: $seablue;
}
.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.header__title {
  color: white;
  text-decoration: none;
  h1 {
    margin: 0;
  }
}
