.page-header {
  background: url("/images/sbg.jpg");
  background-size: cover;
  padding: $s-size 0;
  height: 210px;
  margin-bottom: $l-size;
}
.page-header__title {
  font-weight: 300;
  margin: 0;
  span {
    font-weight: bold;
  }
}
.page-header__actions {
  margin-top: $m-size;
}
